<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-center">Snippets</h1>
    <h5 class="text-center">Liste des snippets GRC</h5>
    <hr/>

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/snippets-management/snippet">Snippets</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/snippets-management/page-one">Tag</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/snippets-management/page-two">Catégories</a>
      </li>
      
    </ul>

    <router-outlet></router-outlet>
  </div>
  <div class="col-md-1"></div>
</div>
