<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="snippet">
            <h2><span>Snippet</span> {{ snippet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ snippet.code }}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{ snippet.libelle }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ snippet.description }}</span>
                </dd>
                <dt><span>Text Code</span></dt>
                <dd>
                    <span>{{ snippet.textCode }}</span>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{ snippet.creationDate }}</span>
                </dd>
                <dt><span>Last Modified Date</span></dt>
                <dd>
                    <span>{{ snippet.lastModifiedDate }}</span>
                </dd>
                <dt><span>Actif</span></dt>
                <dd>
                    <span>{{ snippet.actif }}</span>
                </dd>
                <dt><span>Gitlab External Code</span></dt>
                <dd>
                    <span>{{ snippet.gitlabExternalCode }}</span>
                </dd>
                <dt><span>Category Cd</span></dt>
                <dd>
                    <div *ngIf="snippet.categoryCd">
                        <a [routerLink]="['/category', snippet.categoryCd?.id, 'view']">{{ snippet.categoryCd?.id }}</a>
                    </div>
                </dd>
                <dt><span>Tag Cd</span></dt>
                <dd>
                    <div *ngIf="snippet.tagCd">
                        <a [routerLink]="['/tag', snippet.tagCd?.id, 'view']">{{ snippet.tagCd?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/snippet', snippet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
